
<!DOCTYPE html>
<html lang="en", require 'app/config/config.gtml'> 


<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>PetShop</title>
    <meta name="keywords\" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/app/static/app/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/app/static/app/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" type="text/css" href="/app/static/app/css/responsive.css">
<!-- color -->
<link id="changeable-colors" rel="stylesheet" href="/app/static/app/css/colors/vivid-yellow.css" />

<!-- Modernizer -->
<script src="/app/static/app/js/modernizer.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                        <img src="/app/static/app/images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li class="active"><a href="#banner">Inicio</a></li>
                                    <li>
                                        <a href="#about">Sobre nosotros</a>
                                    </li>
                                    <li>
                                        <a href="#menu">Productos</a>
                                    </li>
                                    <li>
                                        <a href="#reservation">Reservacion</a>
                                    </li>
                                    <li>
                                        <a href="#footer">Contactanos</a>
                                    </li>
                                    <li>
                                        <a href="tienda" >Tienda</a>
                                    </li>
                                    <li>
                                        <a href="carrito.html" >Carrito</a>
                                    </li>
                                    <li>
                                        <a href="/app/templates/IniciarSesion.html" >Registrarse</a>
                                    </li>
                                </ul>
                                
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
    <!-- end site-header -->
    
    <div id="banner" class="banner full-screen-mode parallax">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>Compra con nosotros  <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Alimentos:Juguetes:Higiene:Y más" data-colors="green"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                            <h2>Gran variedad de productos y alimentos</h2>
                            <p>La mejor PetShop, precios bajos asegurados.</p>
                            
                            <a href="#about">
                                <div class="mouse"></div>
                            </a>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>
    <!-- end banner -->

    <div id="about" class="about-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title"> Sobre Nosotros </h2>
                        <h3>IT STARTED, QUITE SIMPLY, LIKE THIS...</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco. </p>

                        <p> Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient montes, nascetur ridiculus mus. quam felisorat, ultricies nec, Aenean commodo ligula eget dolor penatibu set magnis is parturient montes, nascetur ridiculus mus. quam felisorat, ultricies nec, pellentesque eu, pretium quis, sem. quat massa quis enim. Donec vitae sapien ut libero venenatis fauci Nullam quis ante. Etiam sit amet rci eget eros. </p>

                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco. </p>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="about-images">
                            
                            <img class="about-main" src="/app/static/app/images/about-main.jpg" alt="About Inset Image">
                            <img class="about-inset" src="/app/static/app/images/about-inset.png" alt="About Inset Image">  
                            
                            
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <div class="special-menu pad-top-100 parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title color-white text-center"> Día Especial Para Ellos</h2>
                        <h5 class="title-caption text-center"> Estas son algunos de los alimentos para mascotas que estan en oferta </h5>
                    </div>
                    <div class="special-box">
                        <div id="owl-demo">
                            <div class="item item-type-zoom">
                                <a href="#" class="item-hover">
                                    <div class="item-info">
                                        <div class="headline">
                                            PIZZA
                                            <div class="line"></div>
                                            <div class="dit-line">Nada mejor que una pizza con mucho mucho queso.</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                    <img src="/app/static/app/images/alimento-perro.png" alt="sp-menu">
                                </div>
                            </div>
                            <div class="item item-type-zoom">
                                <a href="#" class="item-hover">
                                    <div class="item-info">
                                        <div class="headline">
                                            TABLA DE QUESOS
                                            <div class="line"></div>
                                            <div class="dit-line">Una tabla con mucha variedad de quesos para deleitarse.</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                 
                                    <img src="/app/static/app/images/alimento-gato.jpg"  alt="sp-menu">
                                </div>
                            </div>
                            <div class="item item-type-zoom">
                                <a href="#" class="item-hover">
                                    <div class="item-info">
                                        <div class="headline">
                                            TEQUEÑO
                                            <div class="line"></div>
                                            <div class="dit-line">Y claro, los inigualables tequeños con un buen queso para compartir.</div>
                                        </div>
                                    </div>
                                </a>
                                <div class="item-img">
                                   
                                    <img src="/app/static/app/images/Master-Dog.png" alt="sp-menu">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end special-box -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end special-menu -->

    <div id="menu" class="menu-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center"> Nuestros Productos </h2>
                        <p class="title-caption text-center">Aquí puedes encontrar algunos de nuestros variados productos que puedes comprar en nuestro establecimiento  </p>
                    </div>
                    <div class="tab-menu">
                        <div class="slider slider-nav">
                            <div class="tab-title-menu">
                                <h2>JUEGUETES</h2>                    
                                    
                                    <p align="center"><i><img src="/app/static/app/images/juguete-del-perro.png"></i></p>
                                    
                                    


                              </div>
                              <div class="tab-title-menu">
                                <h2>ARNES Y CORREAS</h2>
                                
                                <p align="center"><i><img src="/app/static/app/images/collar-de-gato.png"></i></p>
                              </div>
                              <div class="tab-title-menu">
                                <h2>ALIMENTOS</h2>
                             
                                <p align="center"><i><img src="/app/static/app/images/alimentos-para-mascotas.png"></i></p>
                              </div>
                              <div class="tab-title-menu">
                                <h2>HIGIENE</h2>
                                
                                <p align="center"><i><img src="/app/static/app/images/cuidado-animal.png"></i></p>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!-- end tab-menu -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end menu -->

    <div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center"> Nuestra Galeria </h2>
                    </div>
                    <div class="gal-container clearfix">
                        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#1">
                                    
                                    <img src="/app/static/app/images/galeria_02.jpeg" alt="" />
                                </a>
                                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                
                                                <img src="/app/static/app/images/galeria_02.jpeg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#2">
                             
                                    <img src="/app/static/app/images/galeria_01.jpeg" alt="" />   
                                </a>
                                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                               
                                              <img src="/app/static/app/images/galeria_01.jpeg" alt="" />  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#3">
                                 <img src="/app/static/app/images/galeria_03.jpeg" alt="" />    
                                </a>
                                <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                             <img src="/app/static/app/images/galeria_03.jpeg" alt="" />    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#4">
                                <img src="{% static 'app/images/galeria_04.jpeg' %}" alt="" />   
                                </a>
                                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                             <img src="/app/static/app/images/galeria_04.jpeg" alt="" />   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#4">
                                 <img src="/app/static/app/images/galeria_04.jpeg" alt="" />  
                                </a>
                                <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                            <img src="/app/static/app/images/galeria_04.jpeg" alt="" />  
                                       
...

[Mensaje recortado]  Ver todo el mensaje
